/*@import '../imports/client/styles/main';
*/

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: #f2f2f2;
	color: #555555;
	font-family: Helvetica, Tahoma, sans-serif;
	font-size: 1.6rem;
}

h1 {
	font-weight: 300;
	text-align: center;
	font-size: 2.4rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 50rem;
	padding: 1.3rem;
}

.title-bar {
	background: #555555;
	color: #FFF;
	padding: 1.3rem;
}

.item {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	/*margin-bottom: 1.3rem;*/
	padding: 1.3rem;
}

.item--killerMode {
	background: #66B033;
	color: white;
}

.item--lastLife {
	background: #FD5308;
	color: white;
}

.status--dead {
	background: #e5e5e5;
}

.item__message {
	font-size: 1.3rem;
	font-style: italic;
	font-weight: 300;
	text-align: center;
}

.status {
	font-size: 2.5rem;
}

.status--isDead {
	text-decoration: line-through;
}

.status--lastLife {
	color: red;
	font-style: italic;
}




/*.status--killerMode {
	color: green;
	font-style: italic;
	font-weight: bold;
}*/
.item--hearts {
	font-style: bold;
	font-size: 3rem;
}

.item--player {
	font-style: bold;
	font-size: 2.5rem;
	text-transform: lowercase;
	width: 50%;
}

.item--buttons {
	text-align: right;
	float: right;
	margin-top: -5rem;
}

.button--round {
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
}

.button {
	background: white;
	border: 1px solid #555555;
	color: #555555;
	cursor: pointer;
	font-weight: 600;
	margin-left: 1.3rem;
	outline: none;
	padding: 1.3rem;
	transition: background .2s ease, transform .2s ease;
	}

	&:hover, &:focus {
		background: #e8e8e8;
	}

	&:active {
		background: #cccccc;
		transform: scale(1.1);
	}
}



